<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>hh.mm</string>
			<key>bestGuess</key>
			<string>hh.mm</string>
			<key>defaults</key>
			<string>io.github.andrew6rant.statustimeformatter</string>
			<key>key</key>
			<string>format</string>
			<key>label</key>
			<string>Time Formatting:</string>
		</dict>
	</array>
	<key>title</key>
	<string>CustomStatusTimeFormatter</string>
</dict>
</plist>
