Package: io.github.andrew6rant.statustimeformatter
Name: StatusTimeFormatter
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: Andrew6rant
Author: Andrew6rant
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
